/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: inherit;
    vertical-align: baseline;
}
body{
    background-color: rgb(105 188 255);
    font-size: 18px;
    line-height: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/**/h1{
    font-size: 35px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
}
ul,li {
    list-style: none;

}
/*ul{
    margin-top: 10px;
}
.mainSection{
    margin: 0 auto;
    padding: 10px;
    max-width: 500px;
    background-color: #ffffff;
}
.itemsSection{
    margin: 0 auto;
    padding: 10px;
    background-color: #ffffff;
}*/
.app-title{
    font-size: 35px;
    margin: 0 auto;
    line-height: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}
